*.class
*~
*.db

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/RetamDatabase/nbproject/private/
/RetamDatabase2/nbproject/private/
/RetamDatabase2/build/
/RetamDatabase2/dist/
/RetamDatabase/dist/
/RetamDatabase/build/
/mavenproject1/target/
/RetamDabatse/target/
/RetamDatabase/target/
/RetamMigration/target/
/RetamDatabase/nbproject/
